#rdfa-inspect {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow:scroll;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align:left;
  z-index: 10000000000;
  color: #5A5A5A;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

#rdfa-inspect .section{
  border:none;
  position: relative;
  display: block;
  width: 100%;
}


#rdfa-inspect .header {
  background: #66BB6A;
  padding: 15px 25px;
  margin: 25px -25px 0;
}

#rdfa-inspect .close+.section .header{
  margin: -25px -25px 0;
  padding-top:2.5em;
  z-index: 2;
}

#rdfa-inspect .header a {
  color: white;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.2;
}

#rdfa-inspect .context {
    background: #878787;
    color: white !important;
    padding: 15px 25px;
    margin: 0 -25px 0;
}

#rdfa-inspect .context:nth-child(even) {
  background: #A2A2A2;
}

#rdfa-inspect .card{
  position:relative;
  width:80%;
  max-width:800px;
  margin:5em auto;
  background-color:white;
  padding: 25px;
  display: block;
  overflow: hidden;
}

#rdfa-inspect ul {
  list-style-type: none;
  list-style-position: inside;
}
#rdfa-inspect ul ul {
  list-style-type: circle;
  list-style-position: inside;
}
#rdfa-inspect h3 {
  font-weight: bold;
  margin-top: 1em;
}

#rdfa-inspect .close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  transition:opacity 0.1s;
  z-index: 100;
  cursor: pointer;
  padding: 20px;
}

#rdfa-inspect .close:hover,
#rdfa-inspect .close:focus {
  opacity:1;
}

/* styles for RDF predicate/object */
#rdfa-inspect .pred {
  padding-right: 0.5em;
  font-size: 1.5em;
  width: 100%;
  float: left;
  margin-top: 0.6em;
  color: #66BB6A;
  font-weight: normal;
}

#rdfa-inspect .obj {
  font-weight: normal;
}

#rdfa-inspect .section li{
  word-break: break-word;
}

#rdfa-inspect .sublist>li {
  border-top: 1px solid #ddd;
  display: inline-block;
  width: 100%;
  padding: 6px;
  color: #7E7E7E;
}

#rdfa-inspect .sublist>li:hover{
  background: #F0FDE2;
  color: #333;
}

#rdfa-inspect .sublist>li:nth-child(even){
  background: #f9f9f9;
}

#rdfa-inspect .sublist>li:nth-child(even):hover{
  background: #E5F7D1;
  color: rgb(2, 2, 2);
}
